@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
:root{
    /*Colores*/
    --color:  aqua;
    /*Fuentes*/
    --small: 12px;
    --medium: 14px;
    --large: 16px;
    --extra-large: 18px;
    ---font: 'Playwrite PL', PL;

}
.row{
    display: flex;
    gap:10px;
    justify-content: center;
}
.caja{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: var(--color);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: var(---font);
    box-shadow: -10px -10px 5px 0px rgb(186, 143, 188) inset;
    
}
.large{
    font-size: var(--large);
}
.small{
    font-size: var(--small);
}
.extraLarge{
    font-size: var(--extra-large);
}